*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  display: inline-block;

  cursor: pointer;
  text-decoration: none;
}

img {
  display: block;

  width: 100%;
  height: auto;
}

ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;

  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

input {
  font: inherit;

  border: none;
  outline: none;
  background: none;
}

input[type='button'] {
  padding: 0;

  cursor: pointer;
}

input[type='radio'] {
  font-size: 1.6rem;
  line-height: 20px;

  position: relative;

  margin: 1rem;

  cursor: pointer;
  user-select: none;
}

button {
  font: inherit;

  padding: 0;

  cursor: pointer;

  border: none;
  outline: none;
  background: none;
  text-shadow: inherit;
  // &:focus {
  //   box-shadow: 0 0 0 3px #159ce466;
  // }
}

select {
  font: inherit;

  overflow: hidden;

  margin: 0;
  padding-top: 2px;
  padding-bottom: 2px;

  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
  white-space: nowrap;
  text-overflow: ellipsis;

  color: $color-primary-dark;
  border: 1px solid #aaa;
  border-radius: 2px;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .1);

  -moz-appearance: button;
  -webkit-padding-end: 20px;
     -moz-padding-end: 20px;
  -webkit-padding-start: 2px;
     -moz-padding-start: 2px;
}

html {
  font-size: 62.5%;

  scroll-behavior: smooth;
}

body {
  font-family: $font-primary;
  font-size: 1.6em;

  margin: 0;

  user-select: none;
  letter-spacing: 1px;

  color: $color-primary-dark;
  background-color: #f6f6f6;
  background-image: linear-gradient(315deg, #f6f6f6 0%, #e9e9e9 74%);
  text-shadow: 0 1px 2px #000;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 15px;
}
