.puzzle {
  position: relative;

  display: grid;

  min-width: 50rem;
  min-height: 50rem;

  background-color: $color-primary-dark;
  box-shadow: 0 0 3px #000;

  grid-auto-rows: 1fr;
  gap: .2rem;
}

.puzzle__item {
  font-size: 3rem;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  user-select: none;
  transition: transform .1s linear, background-color .1s linear;

  color: $color-primary-light;
  background-color: $color-secondary-light;

  &--hold {
    opacity: 1;
    border: 1px solid $color-secondary-light;
  }

  &--invis {
    opacity: 0;
  }

  &:hover {
    background-color: lighten($color-secondary-light, 10);
  }
}
