.puzzle-wrapper {
  position: relative;
}

.puzzle {
  @include media-smartphone-ls {
    min-width: 45rem;
    min-height: 45rem;
  }

  @include media-smartphone-pt {
    min-width: 39rem;
    min-height: 39rem;
  }

  display: grid;

  min-width: 50rem;
  min-height: 50rem;

  background-color: $color-primary-dark;
  box-shadow: 0 0 3px #000;

  grid-auto-rows: 1fr;
  gap: 0.1rem;

  animation: fade-in 0.25s linear;
}

.puzzle__item {
  font-size: 2.5rem;
  font-weight: 400;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: transform 0.1s linear, background-color 0.1s linear;

  color: $color-primary-light;
  background-color: $color-secondary-dark;
  &--hold {
    opacity: 1;
    border: 1px solid $color-secondary-dark;
  }

  &--invis {
    opacity: 0;
  }

  &:hover {
    background-color: lighten($color-secondary-dark, 10);
  }
}

.puzzle-preview {
  display: none;
  width: 200px;
  height: 200px;
  margin: 10px auto;
  border: 2px solid #333;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
